*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

/* .wrapper{
    max-width: 1920px;
    margin: 0 auto;
} */

.header{
    padding-top: 20px;
    background-color: #213735;
}

.header__container{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    /* font-family: 'Miracle'; */
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    color: #FFFFFF;
    pointer-events: none;
}

.nav__list{
    display: flex;
    gap: 45px;
}

.list__item{
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.list__item a{
    color: #FFFFFF;
}

.greeting__container{
    padding-top: 100px;
    background-color: #213735;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greeting__container h1{
    font-size: 64px;
    line-height: 87px;
    text-transform: uppercase;
}

.record__image{
    width: 770px;
    height: 385px;
    background-image: url(../assets/img/recordImg.png);
}

.records{
    display: flex;
    justify-content: center;
    color: #000000;
}

.records__container{
    min-width: 1440px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.records__title{
    /* padding-top: 86.46px; */
    display: flex;
    justify-content: space-between;
}

.records__title h2{
    font-size: 40px;
    line-height: 54px;
}

.check_next__block{
    width: 192px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.check_next__block p{
    font-size: 18px;
    line-height: 25px;
}

.arrow__right{
    width: 14.16px;
    height: 13px;
    background-image: url(../assets/svg/arrowRight.svg);
}

.record__cards{
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
}

.cards__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.card__title{
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
}

.card__price{
    font-size: 14px;
    line-height: 19px;
    margin-top: 10px;  
}

.about__us{
    display: flex;
    justify-content: center;
}

.about__us__container{
    min-width: 1440px;
    padding: 51px 0 63px 135px;
    background-image: url(../assets/img/aboutUs.jpg);
}

.about__us__container h3{
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 30px;
}

.about__us__container p{
    font-size: 18px;
    line-height: 25px;
}
.footer{
    background-color: #213735;
}
.footer__container{
    max-width: 1440px;
    padding: 38px 0 68px 135px;
    display: flex;
    margin: 0 auto;
}

.footer__logo{
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.social__networks{
    width: 100px;
    height: 27px;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instagram{
    width: 19.14px;
    height: 19.14px;
    background-image: url(../assets/svg/instagram.svg);
    background-size: cover;
}

.facebook{
    width: 19.92px;
    height: 19.92px;
    background-image: url(../assets/svg/facebook.svg);
    background-size: cover;
}

.vk{
    width: 28.24px;
    height: 18.86px;
    background-image: url(../assets/svg/vk.svg);
    background-size: cover;
}

.phone__number,
.address,
.work__time,
.list__item{
    font-size: 13px;
    line-height: 18px;
}

.phone__number{
    margin-top: 40px;
}

.address{
    margin-top: 35px;
}

.work__time{
    margin-top: 15px;
}

.footer__block__title{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 22px;
}

.second__block{
    margin-left: 74px;
}

.third__block{
    margin-left: 141px;
}

.fourth__block{
    margin-left: 114px;
}

.footer__list__item{
    margin-top: 15px;
}